# R Programming: The basics of programming in R

## Unit 1: Basic Building Blocks

### Calculations and Variables

In [1]:
5 + 7

[1] 12

In [2]:
x <- 5 + 7

In [3]:
y <- x - 3
x
y

[1] 12

[1] 9

### Creating Vectors

#### Use c() function to 'concatenate' or 'combine'

In [5]:
z <- c(1.1, 9, 3.14)
z

[1] 1.10 9.00 3.14

#### use '? to ask for help, e.g. ?c to get more info on c() function

#### combine vectors to create a new vector:

In [6]:
c(z, 555, z)

[1]   1.10   9.00   3.14 555.00   1.10   9.00   3.14

#### numeric vectors can be used in arithmetic expressions

In [7]:
z * 2 + 100 #multiply each element in z by two then adds 100 to each element

[1] 102.20 118.00 106.28

In [9]:
my_sqrt <- sqrt(z-1) #subtracts 1 from each element in z
#then takes sqrt of each element
my_sqrt

[1] 0.3162278 2.8284271 1.4628739

In [10]:
my_div <- z/my_sqrt #first element of my_div is first element of z divided by first of my_sqrt
my_div

[1] 3.478505 3.181981 2.146460

if vectors are different lenghts, R 'recycles' the shorter vector until it is the same length

In other words when you as R to compute z * 2 +100 what it really computes is z * #c(2, 2, 2) + c(100, 100, 100)

## Unit 2: Worspace and Files

### Looking at your workspace

In [11]:
getwd() #shows you what your working directory is

[1] "/Users/MariaSzalkowski/Desktop/R_Project/Juypter_Notebook"

In [12]:
ls() #lists all the objects in your local workspace (all variables)

[1] "my_div"  "my_sqrt" "x"       "y"       "z"

In [14]:
list.files() #lists files in working directory

[1] "First Notebook.ipynb" "Swirl Notes.ipynb"

In [15]:
dir() #lists files in working directory

[1] "First Notebook.ipynb" "Swirl Notes.ipynb"

In [16]:
args(list.files) #tells the arguments of the function

function (path = ".", pattern = NULL, all.files = FALSE, full.names = FALSE,
    recursive = FALSE, ignore.case = FALSE, include.dirs = FALSE,
    no.. = FALSE)
NULL

In [17]:
old.dir <- getwd() #assigns value of current wd to a variable

### Creating Directories

Use dir.create to create a directory in the working directory called testdir

In [20]:
dir.create("testdir")
dir()

[1] "testdir"

### Set working directory

In [19]:
setwd("testdir")

### Create a file in working directory

In [21]:
file.create("mytest.R")
dir()

[1] TRUE

[1] "mytest.R" "testdir"

In [22]:
file.exists("mytest.R") #Check to see if file exists in working directory

[1] TRUE

In [23]:
file.info("mytest.R") #access info about file

         size isdir mode mtime               ctime
mytest.R 0    FALSE 644  2018-10-08 17:02:27 2018-10-08 17:02:27
         atime               uid gid uname           grname
mytest.R 2018-10-08 17:02:27 501 20  MariaSzalkowski staff

In [24]:
file.rename("mytest.R", "mytest2.R") #rename a file (from, to)

[1] TRUE

In [26]:
file.copy("mytest2.R", "mytest3.R") #makes copy of file

[1] TRUE

In [27]:
file.path("mytest2.R") #provides relative path

[1] "mytest2.R"

In [28]:
file.path('folder1','folder2') #use file.path to make a file and directoy paths independent of operating system

[1] "folder1/folder2"

In [31]:
dir.create(file.path('testdir2', 'testdir3'), recursive = TRUE)
#creates directory and subdirectory in one command

Warning message in dir.create(file.path("testdir2", "testdir3"), recursive = TRUE):
“'testdir2/testdir3' already exists”

In [33]:
setwd(old.dir)

## Unit 3: Sequences of Numbers

### Creating sequences using `:` operator

In [34]:
1:20 #counts forward to 20 by 1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [35]:
pi:10 # counts by ones from pi to 10

[1] 3.141593 4.141593 5.141593 6.141593 7.141593 8.141593 9.141593

In [36]:
15:1 #counts down from 15 to 1

 [1] 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [37]:
?`:` #seach for how to use colon

### Creating sequences using seq()

In [38]:
seq(1,20) #counts forward to 20

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [39]:
seq(0, 10, by = 0.5) #creates sequence from 0 to 10 by .5

 [1]  0.0  0.5  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  5.5  6.0  6.5  7.0
[16]  7.5  8.0  8.5  9.0  9.5 10.0

In [40]:
my_seq <- seq(5, 10, length = 30) #sequence of 30 numbers between 5 and 10
my_seq

 [1]  5.000000  5.172414  5.344828  5.517241  5.689655  5.862069  6.034483
 [8]  6.206897  6.379310  6.551724  6.724138  6.896552  7.068966  7.241379
[15]  7.413793  7.586207  7.758621  7.931034  8.103448  8.275862  8.448276
[22]  8.620690  8.793103  8.965517  9.137931  9.310345  9.482759  9.655172
[29]  9.827586 10.000000

In [41]:
length(my_seq) #tells how long my_seq is

[1] 30

In [43]:
1:length(my_seq) #creates new vector from 1 to the length of my_seq

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30

In [44]:
seq_along(my_seq) #does same thing as above

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30

### Creating sequences using the rep() function

In [45]:
rep(0, times = 40) #creates vector with 40 zeros

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[39] 0 0

In [46]:
rep(c(0, 1, 2), times = 10) #creates vector with 10 repetitions of 0, 1, 2

 [1] 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2

In [47]:
rep(c(0, 1, 2), each = 10) #creates vector with 10 zeros then 10 one then 10 twos

 [1] 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2

## Unit 4: Vectors

atomic vectors have one data type and lists can have multiple data types

### Logical Vectors
logical vectors can contain TRUE, FALSE and NA

In [48]:
num_vect <- c(0.5, 55, -10, 6)

In [50]:
tf <- num_vect < 1 #creates vector that tells us whether each corresponding element of num_vect satisfies this condition
tf

[1]  TRUE FALSE  TRUE FALSE

In [52]:
num_vect >= 6

[1] FALSE  TRUE FALSE  TRUE

 `<` and `>=` symbols are 'logical operators' `==` for exact equality and `!=` for inequality

with two logical expressions A and B `A|B` asked if at least one is true, `A&B` asks if they both are true and `!A` flips it from TRUE to FALSE or vice versa

### Character vectors

my_char <- c("My", "name", "is")
my_char

In [54]:
paste(my_char, collapse = " ") #takes the three items in my_char and puts them together
#make sure there is a space between quotes

[1] "My name is"

The space between the quotes tells R that we want a single space between each element when they are combined

In [55]:
my_name <- c(my_char, "Maria") #adds my name to the end of my_char
my_name

[1] "My"    "name"  "is"    "Maria"

### Use paste() to combine elements in vectors

In [56]:
paste(my_name, collapse = " ")

[1] "My name is Maria"

In [57]:
paste("Hello", "world!", sep = " ") #join two words seperate by space

[1] "Hello world!"

In [58]:
paste(1:3,c("X", "Y", "Z"), sep = "") #combines two vectors with length 3

[1] "1X" "2Y" "3Z"

In [59]:
paste(LETTERS, 1:4, sep = "-") #LETTERS is alphabet, recycles vector 1:4

 [1] "A-1" "B-2" "C-3" "D-4" "E-1" "F-2" "G-3" "H-4" "I-1" "J-2" "K-3" "L-4"
[13] "M-1" "N-2" "O-3" "P-4" "Q-1" "R-2" "S-3" "T-4" "U-1" "V-2" "W-3" "X-4"
[25] "Y-1" "Z-2"

vector 1:4 get 'coerced' into a character vector "1", "2", "3", "4"

## Unit 6: Subsetting Vectors

In [6]:
x <- rep(c(1, NA, 4.5, -67.5), times = 10)

### selecting index from vector

In [7]:
x[1:10]

 [1]   1.0    NA   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA

Index vectors can be logical vectors, positive integers, negative integers and character strings

### Logical Vectors

#### selecting all elements that are not NA
is.na(x) yields a vector of logical values the same length as x, with TRUEs corresponding to NA values in x and FALSEs corresponding to non NA values in X

In [8]:
x[is.na(x)]

 [1] NA NA NA NA NA NA NA NA NA NA

!is.na(x) creates a vector will all values no NA

In [9]:
y <- x[!is.na(x)]
y

 [1]   1.0   4.5 -67.5   1.0   4.5 -67.5   1.0   4.5 -67.5   1.0   4.5 -67.5
[13]   1.0   4.5 -67.5   1.0   4.5 -67.5   1.0   4.5 -67.5   1.0   4.5 -67.5
[25]   1.0   4.5 -67.5   1.0   4.5 -67.5

In [10]:
y[y > 0] #gives a vector of all the positive elements of y

 [1] 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0
[20] 4.5

If you skip over the step of getting rid of the NAs you get NAs in your vector when you type x[x > 0]

In [11]:
x[!is.na(x) & x > 0] #requests values of x that are non-missing and greater than 0

 [1] 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0 4.5 1.0
[20] 4.5

R uses 1 based indexing - first element is number 1

In [12]:
x[c(3, 5, 7)] #gets the 3rd, 5th, and 7th elements of the vector

[1] 4.5 1.0 4.5

always make sure the element you are asking for is within the vector

In [13]:
x[c(-2,-10)] #gives us all elements in the vector except the 2nd and 10th

 [1]   1.0   4.5 -67.5   1.0    NA   4.5 -67.5   1.0   4.5 -67.5   1.0    NA
[13]   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA
[25]   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA
[37]   4.5 -67.5

In [14]:
x[-c(2, 10)] #gives same result as above

 [1]   1.0   4.5 -67.5   1.0    NA   4.5 -67.5   1.0   4.5 -67.5   1.0    NA
[13]   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA
[25]   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA   4.5 -67.5   1.0    NA
[37]   4.5 -67.5

### naming elements in a vector

In [15]:
vect <- c(foo = 11, bar = 2, norf = NA)
vect

In [16]:
names(vect)

[1] "foo"  "bar"  "norf"

In [17]:
vect2 <- c(11, 2, NA)

In [19]:
names(vect2) <- c("foo", "bar", "norf") #adds names to vect 2

In [21]:
identical(vect, vect2) #checks if vect1 and vect2 are identical

[1] TRUE

In [22]:
vect["bar"] #gives us the second element of vect

bar
  2

In [23]:
vect[c("foo", "bar")] #creates vector with elements "foo" and "bar"

foo bar
 11   2

## Unit 7: Matrices and Data Frames

Both contain 'rectangular' data types, store tabular data with rows and columns

Matrices only contain a single class of date, data frames consist of many different classes of data

### Creating a Matrix

In [2]:
my_vector <- 1:20
my_vector

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [3]:
dim(my_vector) # tells you the dimensions of the object

NULL

In [4]:
length(my_vector) #tells you length

[1] 20

In [5]:
dim(my_vector) <- c(4,5) #give my_vector dimensions
dim(my_vector)

[1] 4 5

In [6]:
attributes(my_vector) #shows you dimensions

$dim
[1] 4 5

first number in dim is number of rows, second is number of columns

In [7]:
my_vector #it's now a matrix

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   13   17
[2,] 2    6    10   14   18
[3,] 3    7    11   15   19
[4,] 4    8    12   16   20

In [8]:
class(my_vector) #confirms it is a matrix

[1] "matrix"

In [9]:
my_matrix <- my_vector

In [11]:
my_matrix2 <- matrix(1:20, nrow = 4, ncol = 5) #creates same thing as my_matrix

In [12]:
identical(my_matrix, my_matrix2)

[1] TRUE

### Adding character values to a matrix - creating data frames

In [13]:
patients <- c("Bill", "Gina", "Kelly", "Sean")

In [14]:
cbind(patients, my_matrix) #adds patient row

     patients
[1,] Bill     1 5 9  13 17
[2,] Gina     2 6 10 14 18
[3,] Kelly    3 7 11 15 19
[4,] Sean     4 8 12 16 20

using cbind() creates a new matrix of all character strings, this is called *implicit coercion*

In [16]:
my_data <- data.frame(patients, my_matrix)
my_data #allows you to store character string along with numbers

  patients X1 X2 X3 X4 X5
1 Bill     1  5   9 13 17
2 Gina     2  6  10 14 18
3 Kelly    3  7  11 15 19
4 Sean     4  8  12 16 20

In [17]:
class(my_data)

[1] "data.frame"

#### assigning names to the columns of a data frame

In [18]:
cnames <- c("patient", "age", "weight", "bp", "rating", "test")

In [20]:
 colnames(my_data) <- cnames #sets cnames as the column names of my_data
my_data

  patient age weight bp rating test
1 Bill    1   5       9 13     17
2 Gina    2   6      10 14     18
3 Kelly   3   7      11 15     19
4 Sean    4   8      12 16     20

## Unit 8: Logic

two logical or boolean values: TRUE and FALSE

In [21]:
TRUE == TRUE

[1] TRUE

In [22]:
(FALSE == TRUE) == FALSE

[1] TRUE

In [23]:
6 == 7

[1] FALSE

    < less than, `<=` less than or equal to

!= is not equals operator

In [24]:
TRUE != FALSE

[1] TRUE

In [25]:
!TRUE #evaluates to FALSE

[1] FALSE

In [26]:
!5 == 7 #negate any expression with !

[1] TRUE

### AND operator

'&' operator requires both sides of the & to be true to evaluate to TRUE

In [27]:
FALSE & TRUE

[1] FALSE

'&&' only evaluates the first member of a vector

In [29]:
TRUE & c(TRUE, FALSE, FALSE)

[1]  TRUE FALSE FALSE

In [31]:
TRUE && c(TRUE, FALSE, FALSE) #left only evaluated with first object of right vector

[1] TRUE

### OR operator

'|' evaluates across an entire vector, '||' evaluates only the first member of a vector

expression using OR will be TRUE of left and right are true, if neither are TRUE it is FALSE

In [32]:
TRUE | c(TRUE, FALSE, FALSE)

[1] TRUE TRUE TRUE

In [33]:
TRUE || c(TRUE, FALSE, FALSE)

[1] TRUE

#### All AND operators are evaluated before OR operators

In [34]:
5 > 8 || 6 != 8 && 4 > 3.9

[1] TRUE

### Functions for dealing with logical operators

In [36]:
isTRUE(6 > 4) #evaluates to TRUE or FALSE

[1] TRUE

In [37]:
identical('twins', 'twins') #evaluates TRUE if two arguments are identical

[1] TRUE

In [39]:
xor(5 == 6, !FALSE) #only evaluates to TRUE if one argument evaluates to TRUE and the other to FALSE

[1] TRUE

In [41]:
ints <- sample(10)
ints

 [1]  3  1  9  7 10  5  4  6  8  2

In [42]:
ints > 5 #gives vector of each corresponding answer

 [1] FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE FALSE

In [43]:
which(ints > 7) #tells you which indices in 'ints' are greater than 7

[1] 3 5 9

#### any() function will return TRUE if one or more of the elements in the logical vector are TRUE, all() will return TRUE if every element is TRUE

In [44]:
any(ints < 0)

[1] FALSE

In [45]:
all(ints > 0)

[1] TRUE