# R Programming: The basics of programming in R

## Unit 1: Basic Building Blocks

### Calculations and Variables

In [1]:
5 + 7

[1] 12

In [2]:
x <- 5 + 7

In [3]:
y <- x - 3
x
y

[1] 12

[1] 9

### Creating Vectors

#### Use c() function to 'concatenate' or 'combine'

In [5]:
z <- c(1.1, 9, 3.14)
z

[1] 1.10 9.00 3.14

#### use '? to ask for help, e.g. ?c to get more info on c() function

#### combine vectors to create a new vector:

In [6]:
c(z, 555, z)

[1]   1.10   9.00   3.14 555.00   1.10   9.00   3.14

#### numeric vectors can be used in arithmetic expressions

In [7]:
z * 2 + 100 #multiply each element in z by two then adds 100 to each element

[1] 102.20 118.00 106.28

In [9]:
my_sqrt <- sqrt(z-1) #subtracts 1 from each element in z
#then takes sqrt of each element
my_sqrt

[1] 0.3162278 2.8284271 1.4628739

In [10]:
my_div <- z/my_sqrt #first element of my_div is first element of z divided by first of my_sqrt
my_div

[1] 3.478505 3.181981 2.146460

if vectors are different lenghts, R 'recycles' the shorter vector until it is the same length

In other words when you as R to compute z * 2 +100 what it really computes is z * #c(2, 2, 2) + c(100, 100, 100)

## Unit 2: Worspace and Files

### Looking at your workspace

In [11]:
getwd() #shows you what your working directory is

[1] "/Users/MariaSzalkowski/Desktop/R_Project/Juypter_Notebook"

In [12]:
ls() #lists all the objects in your local workspace (all variables)

[1] "my_div"  "my_sqrt" "x"       "y"       "z"

In [14]:
list.files() #lists files in working directory

[1] "First Notebook.ipynb" "Swirl Notes.ipynb"

In [15]:
dir() #lists files in working directory

[1] "First Notebook.ipynb" "Swirl Notes.ipynb"

In [16]:
args(list.files) #tells the arguments of the function

function (path = ".", pattern = NULL, all.files = FALSE, full.names = FALSE,
    recursive = FALSE, ignore.case = FALSE, include.dirs = FALSE,
    no.. = FALSE)
NULL

In [17]:
old.dir <- getwd() #assigns value of current wd to a variable

### Creating Directories

Use dir.create to create a directory in the working directory called testdir

In [20]:
dir.create("testdir")
dir()

[1] "testdir"

### Set working directory

In [19]:
setwd("testdir")

### Create a file in working directory

In [21]:
file.create("mytest.R")
dir()

[1] TRUE

[1] "mytest.R" "testdir"

In [22]:
file.exists("mytest.R") #Check to see if file exists in working directory

[1] TRUE

In [23]:
file.info("mytest.R") #access info about file

         size isdir mode mtime               ctime
mytest.R 0    FALSE 644  2018-10-08 17:02:27 2018-10-08 17:02:27
         atime               uid gid uname           grname
mytest.R 2018-10-08 17:02:27 501 20  MariaSzalkowski staff

In [24]:
file.rename("mytest.R", "mytest2.R") #rename a file (from, to)

[1] TRUE

In [26]:
file.copy("mytest2.R", "mytest3.R") #makes copy of file

[1] TRUE

In [27]:
file.path("mytest2.R") #provides relative path

[1] "mytest2.R"

In [28]:
file.path('folder1','folder2') #use file.path to make a file and directoy paths independent of operating system

[1] "folder1/folder2"

In [31]:
dir.create(file.path('testdir2', 'testdir3'), recursive = TRUE)
#creates directory and subdirectory in one command

Warning message in dir.create(file.path("testdir2", "testdir3"), recursive = TRUE):
“'testdir2/testdir3' already exists”

In [33]:
setwd(old.dir)

## Unit 3: Sequences of Numbers

### Creating sequences using `:` operator

In [34]:
1:20 #counts forward to 20 by 1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [35]:
pi:10 # counts by ones from pi to 10

[1] 3.141593 4.141593 5.141593 6.141593 7.141593 8.141593 9.141593

In [36]:
15:1 #counts down from 15 to 1

 [1] 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [37]:
?`:` #seach for how to use colon

### Creating sequences using seq()

In [38]:
seq(1,20) #counts forward to 20

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [39]:
seq(0, 10, by = 0.5) #creates sequence from 0 to 10 by .5

 [1]  0.0  0.5  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  5.5  6.0  6.5  7.0
[16]  7.5  8.0  8.5  9.0  9.5 10.0

In [40]:
my_seq <- seq(5, 10, length = 30) #sequence of 30 numbers between 5 and 10
my_seq

 [1]  5.000000  5.172414  5.344828  5.517241  5.689655  5.862069  6.034483
 [8]  6.206897  6.379310  6.551724  6.724138  6.896552  7.068966  7.241379
[15]  7.413793  7.586207  7.758621  7.931034  8.103448  8.275862  8.448276
[22]  8.620690  8.793103  8.965517  9.137931  9.310345  9.482759  9.655172
[29]  9.827586 10.000000

In [41]:
length(my_seq) #tells how long my_seq is

[1] 30

In [43]:
1:length(my_seq) #creates new vector from 1 to the length of my_seq

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30

In [44]:
seq_along(my_seq) #does same thing as above

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30

### Creating sequences using the rep() function

In [45]:
rep(0, times = 40) #creates vector with 40 zeros

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[39] 0 0

In [46]:
rep(c(0, 1, 2), times = 10) #creates vector with 10 repetitions of 0, 1, 2

 [1] 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2

In [47]:
rep(c(0, 1, 2), each = 10) #creates vector with 10 zeros then 10 one then 10 twos

 [1] 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2

## Unit 4: Vectors

atomic vectors have one data type and lists can have multiple data types

### Logical Vectors
logical vectors can contain TRUE, FALSE and NA

In [48]:
num_vect <- c(0.5, 55, -10, 6)

In [50]:
tf <- num_vect < 1 #creates vector that tells us whether each corresponding element of num_vect satisfies this condition
tf

[1]  TRUE FALSE  TRUE FALSE

In [52]:
num_vect >= 6

[1] FALSE  TRUE FALSE  TRUE

 `<` and `>=` symbols are 'logical operators' `==` for exact equality and `!=` for inequality

with two logical expressions A and B `A|B` asked if at least one is true, `A&B` asks if they both are true and `!A` flips it from TRUE to FALSE or vice versa

### Character vectors

my_char <- c("My", "name", "is")
my_char

In [54]:
paste(my_char, collapse = " ") #takes the three items in my_char and puts them together
#make sure there is a space between quotes

[1] "My name is"

The space between the quotes tells R that we want a single space between each element when they are combined

In [55]:
my_name <- c(my_char, "Maria") #adds my name to the end of my_char
my_name

[1] "My"    "name"  "is"    "Maria"

### Use paste() to combine elements in vectors

In [56]:
paste(my_name, collapse = " ")

[1] "My name is Maria"

In [57]:
paste("Hello", "world!", sep = " ") #join two words seperate by space

[1] "Hello world!"

In [58]:
paste(1:3,c("X", "Y", "Z"), sep = "") #combines two vectors with length 3

[1] "1X" "2Y" "3Z"

In [59]:
paste(LETTERS, 1:4, sep = "-") #LETTERS is alphabet, recycles vector 1:4

 [1] "A-1" "B-2" "C-3" "D-4" "E-1" "F-2" "G-3" "H-4" "I-1" "J-2" "K-3" "L-4"
[13] "M-1" "N-2" "O-3" "P-4" "Q-1" "R-2" "S-3" "T-4" "U-1" "V-2" "W-3" "X-4"
[25] "Y-1" "Z-2"

vector 1:4 get 'coerced' into a character vector "1", "2", "3", "4"